* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:Norse-Bold ;
    src: url(./fonts/norse-bold.otf);
}


body {
    font-family: Helvetica, sans-serif;
    display: flex;
    
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/bg-image.jpg);
    background-size: cover;
    background-position: center center;

    min-height: 120vh;
    min-width: 40vw;
  
}

.banner--container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Norse-Bold;
    font-size: 5rem;
    color: white;
    background-color:rgba(8, 8, 8, 0.6);
    width: 100%;   
    min-height:50% ; 
    max-height: 70%;

}


.odin-logo {
    max-width: 5rem;
    

}

.footer-text {
    margin-top: auto;
    text-align: center;
    color: white;   
    margin-bottom: 1rem; 
}


a {
    color: white;

}


.right {
    min-height: 120vh;
    min-width: 60vw;

}


.first--section,
.second--section
{
    min-height: 35%;
    padding-left: 30px;
}

.third--section {
    min-height: 30%;
    padding-left: 30px;
    padding-top: 30px;
}


.first--section {
    display: flex;
    align-items: flex-end;
    background-color: rgb(245, 250, 249);
    padding-bottom: 30px;
}

.second--section {
    background-color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.third--section {
    background-color: rgb(245, 250, 249);
}

.text--area {
    
    font-size: 1.2rem;
    font-weight: bold;
    width: 55vw;


 }


 .form--header {
    width: 100%;


    font-size: 2rem;
 }

 .form--container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.7rem;
    align-items: baseline;
 }

 

 .input--div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    min-width: 20vw;
    gap: 4px;
    
 }

 input {
    width: 17vw;
    height: 4vh;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
 }

 input[type="password"] {
    border: 1px solid red;
 }

 input:focus {
    border: 1px none blueviolet;
    box-shadow: 5px 5px 5px rgba(8, 8, 8, 0.6);
 }


 label {
    display: block;
    min-width: 20vw;
    font-size: 15px;
    overflow: hidden;
 }

 .create-account {
    background-color: #596D48;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 15vw;
    padding: 15px 30px;
 }

 .button--container {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

a.login {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.error-text {
    color: red;
    font-size: 12px;
    
}

@media screen and (max-width: 940px) {

}